.leftPanel {
	background-color: rgba(255,0,0,0.5);
	width: $leftPanelWidth;
	height: 100vh;
}

.videoBox {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,255,0,0.5);
	width: 100vw;
	height: 100vh;

	&.panelOpen {
		margin-left: $leftPanelWidth;
	}
}