md-sidenav.md-locked-open {
	&.leftPanel {
		width: $leftPanelWidth;
		max-width: $leftPanelWidth;
		min-width: $leftPanelWidth;
		background-color: $grey-4;
		.streamList{
			padding: 0px;
			margin: 0px;
		}
	}
}

.stream-card {
	cursor: pointer;
	width: 260px;
	md-card-content {
		font-size: 12px;
		color: $grey-1;
		background-color: $grey-6;
		padding: 2px 10px;
		p {
			margin: 0px;
		}
	}
}

.stream-card:hover {
	box-shadow: 0 0 8px $gold;
}

.left-panel-header {
	flex-shrink: 0;
	z-index: 2;
	.site-list {
		padding: 5px;
		width: 270px;
		background-color: $grey-4;
	}
}

.container {
	height: 100vh;
}