
<div class="box-actions" layout="row" layout-align="center center">
	<md-fab-speed-dial md-open="demo.isOpen" md-direction="up" class="md-scale">
		<md-fab-trigger>
			<md-button aria-label="actions" class="md-fab md-primary md-mini">
				<i class="material-icons">eject</i>
			</md-button>
		</md-fab-trigger>
		<md-fab-actions>
			<md-button aria-label="close" class="md-fab md-accent md-mini" ng-click="close(boxData)">
				<i class="material-icons">highlight_off</i>
			</md-button>
			<!-- <md-button aria-label="refresh" class="md-fab md-accent md-mini" ng-click="refresh()">
				<i class="material-icons">autorenew</i>
			</md-button> -->
			<md-button aria-label="fullscreen" class="md-fab md-accent md-mini">
				<i class="material-icons">fullscreen</i>
			</md-button>
		</md-fab-actions>
	</md-fab-speed-dial>
</div>

<object ng-if="boxData.site == 'douyu'" 
	type="application/x-shockwave-flash"
	data="{{ ::getUrl() }}"
	allowscriptaccess="always"
	allowfullscreen="true"
	height="100%"
	width="100%"
	allowfullscreeninteractive="true">
</object>

<iframe ng-if="boxData.site == 'zhanqi'"
	width="100%"
	height="100%"
	src="{{ ::getUrl() }}"
	frameborder="0"
	allowfullscreen="true">
</iframe>

<iframe ng-if="boxData.site == 'huomao'"
	height="100%"
	width="100%"
	src="{{ ::getUrl() }}"
	frameborder="0"
	allowfullscreen="true"
	allowfullscreen="true">
</iframe>

<object ng-if="boxData.site == 'huya'" 
	type="application/x-shockwave-flash"
	data="{{ ::getUrl() }}"
	allowscriptaccess="always"
	allowfullscreen="true"
	height="100%"
	width="100%"
	allowfullscreeninteractive="true">
</object>

<iframe ng-if="boxData.site == 'twitch'"
	src="{{ ::getUrl() }}"
	frameborder="0"
	scrolling="no"
	wmode="Opaque"
	height="100%"
	width="100%">
</iframe>