$lightBlack: #222;
$darkBlack: #010101;
$leftPanelWidth: 300px;

body {
	background-color: $darkBlack;
	color: white;
}
/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
